:root {
  --navbar-height: 80px;
  --player-height: 80px;
  --content-padding: 15px;

}

body {
    overflow: hidden;
    height: calc(100vh - var(--navbar-height));
    width: 100vw;
}

.content {
    padding: 0px var(--content-padding);
}

.content div {
    max-height: calc(100vh - var(--navbar-height) - var(--player-height));
}

.library-list {
    height: calc(100vh - var(--navbar-height) - var(--player-height) - 2 * var(--content-padding));
    border-radius: 0;
    border-width: 1px 0 0 0;
}

.tracklist-list {
    height: calc(100vh - var(--navbar-height) - var(--player-height) - 2 * var(--content-padding));
}

.level0 {
    padding-left: 0px;
}

.level1 {
    padding-left: 20px;
}

.level2 {
    padding-left: 40px;
}

.level3 {
    padding-left: 60px;
}

.level4 {
    padding-left: 80px;
}
